*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Nunito', sans-serif;
}

ul{ 
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
}

.text-center{
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    display: block;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;
}

p{
    display: block;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
}

.background-color-white{
    background-color: #fff;
}

.width-100{
    width: 100%;
}

.white-text{
    color: #fff;
}

.btn-white{
    line-height: 22px;
    font-size: 16px;
    border: 1px solid #e52f37;
    background-color: #fff;
    border-radius: 23px 23px;
    padding: 12px 18px;
    color: #e52f37;
    margin-left: 10px;
    font-weight: 700;
}
