*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Nunito', sans-serif;
}

ul{ 
    list-style: none;
}

a{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;
}

p{
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
}